body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(84, 100, 64);
    align-items: center;
    justify-content: center;
}
h1
{
    font-size: 3em;
    font-family: cursive;
}
button
{
    padding: 10px 3em;
    font-size: 2em;
    font-family: sans-serif;
    font-family: 'Courier New';
    border: none;
    background-color: rgb(49, 84, 197);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgb(23, 26, 36);
    margin-bottom: 1em;
}
button:focus
{
    outline: none;
}
button:hover
{
    background-color: #222;
    color:rgb(196, 84, 84);
}