.text 
{
    padding: 30px;
    margin: auto;
    width: 50%;
    margin-top: 20%;
    border-width: 3px;
    border-style: solid;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    padding-bottom: 50px;
    background-color: rgb(204, 243, 230);
}
p
{
   font-size: large;
   font-style: italic;
   font-weight: bold;
}
button
{
    padding: 10px 3em;
    font-family: sans-serif;
    border: none;
    background-color: rgb(82, 90, 155);
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px rgb(23, 26, 36);
    margin-bottom: 1em; 

}
