body
{
    background-color: rgba(116, 82, 10, 0.671);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p
{
    font-size: 2em;
    font-family: cursive;
    text-align: center;
    font-weight: bolder;
}
h1
{
    font-size: 3em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
}
button
{
    padding: 10px 3em;
    font-size: 1.5em;
    font-family: sans-serif;
    font-family: 'Courier New';
    border: none;
    background-color: rgba(3, 22, 75, 0.575);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgb(23, 26, 36);
    margin-bottom: 1em;
}
button:focus
{
    outline: none;
}
button:hover
{
    background-color: #222;
    color:rgba(109, 76, 48, 0.801);
}