#paragraph
{
    padding: 30px;
    margin: auto;
    font-size: large;
    width: 50%;
    margin-top: 20%;
    border-width: 3px;
    border-style: solid;
    font-family: sans-serif;
    height: 100%;
}
.text
{
    text-align: center
}
button
{
    padding: 10px 3em;
    font-family: sans-serif;
    border: none;
    background-color: rgb(139, 67, 91);
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px rgb(23, 26, 36);
    margin-bottom: 1em; 
    position:relative;
    margin-left: 180px;
}